@import '../assets/styles/variables.scss';

.projects {
    padding-bottom: 130px;
    a {
        text-decoration: none;
    }
    .project-card{
        // &:hover {
        //     img{
        //         transform: scale(1.2) rotate(-3deg);
        //         transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        //     }
        // }
    }
    .project-card-image-wrapper {
        height: 45rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 110%;
            height: 110%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            // transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .project-card-title {
        font-size: 3rem;
        line-height: 1.2;
        color: $dark;
        padding: 10px 0;
        font-weight: 300;
    }
}




@media only screen and (max-width: 768px) {
    .projects .projects-grid {
        grid-template-columns: 1fr;
    }

    .projects .project-card-image-wrapper img{
        left: 50%;
        top: 50%;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .projects .projects-grid {
        grid-template-columns: 1fr 1fr;
    }

    .projects .project-card-image-wrapper img{
        left: 50%;
        top: 50%;
    }

}

